:root {
  --blue: #8bacda;
  --cyan: #00fff7;
  --cyan-fade: rgba(0, 255, 247, 0.5);
  --white: #fff;

  --bg-main: #0d192b;
  --bg-card: #14253d;
  --line: #2f415b;

  --border-radius-default: 0.8rem;
  --transition-default: all 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main);
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ---------- Card ---------- */
.card {
  background-color: var(--bg-card);
  border-radius: var(--border-radius-default);
  padding: 1.5rem;
  position: relative;
  margin: 3.8rem 1.5rem;
  height: 543px;
  width: 327px;
}

.card__imgs {
  position: relative;
}

.card__img {
  border-radius: var(--border-radius-default);
  display: block;
  width: 100%;
}

.card__img-overlay {
  background-color: var(--cyan-fade);
  border-radius: var(--border-radius-default);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: var(--transition-default);
}

.overlay__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__heading {
  color: var(--white);
  font-size: 1.375rem;
  margin: 1.5rem 0 0.75rem;
}

.card__description {
  color: var(--blue);
  font-size: 1.125rem;
  font-weight: 300;
}

.card__stats {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin: 1rem 0;
}

.card__stats img {
  margin-right: 7px;
}

.stats__ethereum,
.stats__clock {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.stats__ethereum {
  color: var(--cyan);
  font-weight: 600;
}

.stats__clock {
  color: var(--blue);
  font-weight: 400;
}

.card__line {
  border: 1px solid var(--line);
}

.card__footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.footer__text {
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 400;
}

.footer__text span {
  color: var(--white);
}

.footer__img {
  border: 1px solid var(--white);
  border-radius: 50%;
  height: 33px;
  margin-right: 1rem;
}

/* ---------- Active States ---------- */
.card__img-overlay:hover,
.card__heading:hover,
.footer__text span:hover {
  cursor: pointer;
}

.card__heading:hover,
.footer__text span:hover {
  color: var(--cyan);
}

.card__img-overlay:hover {
  opacity: 1;
}

/* ---------- Footer ---------- */
.attribution {
  color: var(--white);
  font-size: 0.8rem;
  position: absolute;
  bottom: 0.5rem;
  text-align: center;
}

.attribution a {
  color: var(--cyan);
}

@media screen and (min-width: 1023px) {
  .card {
    height: 596px;
    margin: 0;
    width: 350px;
  }

  .card__heading {
    margin: 1.5rem 0 1rem;
  }

  .card__description {
    line-height: 1.4;
  }

  .card__stats {
    margin: 1.5rem 0;
  }

  .stats__ethereum,
  .stats__clock {
    font-size: 1rem;
  }

  .card-footer {
    margin: 1rem 0 2rem;
  }

  .footer__text {
    font-size: 1rem;
  }

  .attribution {
    bottom: 1rem;
  }
}
